body {
    background-color:black;
}
#clock {
    width: 442px;
    margin: auto;
    text-align: center;
    font-size: 112px;
    border: 10px solid cyan;
    padding: 31px;
    border-radius: 5rem;
    background:transparent;
    margin-top: 15%;
    color:cyan;
}
