.card{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    padding: 8px 0px; 

}
.pro-pic{
    width: 40%;
}
.pro-info{
    margin-right: 24px;
}
.pro-title{
    font-size: 20px;
    font-weight: 600;
}
.pro-links a{
    text-decoration: none;
    color: black;
} 
.pro-links{
    margin-top: 6px;
    display: flex;
}
.link-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    width: max-content;
    padding:4px 8px ;
    border-radius: 4px;
    font-size:16px ;
    margin-right: 6px;
}
.link-btn a{
    display: flex;
    align-items: center;
    margin-right: 4px;
}
@media only screen and (max-width: 720px){
    .pro-pic{
        width: 70%;
    }
    .card{
        flex-direction: column;
    }
    .pro-info{
        margin-left: 0px;
        margin-top: 12px;

    }

}
