.about{
    padding-bottom: 48px;

}
.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.pro{
    height: 420px;
    border-radius: 50%;
}
.info{
    font-size: 24px;
}   
.name{
    color:blue;
}
@media only screen and (max-width: 720px)
{
    .about-top{
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .pro{
         height: 280px;
    }
    .info{
        font-size: 20px;
    }
    .name{
        font-size: 26px;
    }
}